body {
    background: #fafafa;
    font-family: sans-serif
}
table {
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    border-collapse: collapse;
}
table tr:nth-child(even) {
    background: #ddd;
}
table tr:nth-child(odd) {
    background: #eee;
}
.bottomTR {
    background: none;
}
table tr td, th {
    padding: 1rem;
    text-align: center;
}
table th {
    text-transform: uppercase;
}
table caption {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bolder;
}
td.delTD a {
    color: red;
    font-weight: bold;
}
a {
    text-decoration: none;
}
a.pageLink {
    font-weight: bold;
}
.btn {
    padding: .5rem 1rem;
    border-radius: .5rem;
    background: #ddd;
    box-shadow: 0 0 0px rgba(0,0,0,.2);
    transition: all .2s ease-in-out;
    opacity: .8;
    color: black;
    border: 2px solid #555;
    font-weight: bold;
}
.btn:hover {
    opacity: 1;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}